body{
  
  background-color: black;
 
  
}
.post{
  width: 355px;
  height: 50px;
  margin: auto;
  background-color: aliceblue;
  border: 1px solid white;
  margin-top: 25px;
 
}
.header{
  margin: auto;
  justify-content: space-between;
}
.puntos{
 float: inline-end;
 margin-right: 5px;
}
.fa-solid fa-ellipsis-vertical{
  display: flex;
  flex-direction: row;
  margin-left: 200;
}
.post:nth-child(3){
  display: flex;
  justify-content:right;
}
.icon{
  justify-content: space-between;

}


.imagen{
  width: 300px;
  height: 250;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  
}
.iconos{
  width: 360px;
  height: 50px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 0px;
  
}
.fa-heart{
  margin: 2px;
}
.fa-comment{
  margin: 2px;
}
.fa-share{
  margin: 2px;
}
.guard{
  margin-left: auto;
  margin-right: 5px;
}
.pie{
  width: 360px;
  height: 160px;
  margin: auto;
  background-color: aliceblue;
  
 
}
.pie>p{
  margin-top: 0px;
}